<!DOCTYPE html>
<html>
<head>
    <title>About</title>
</head>

<style>
body{
    font-family: Arial;
    margin: 40px;
}

h1{
    color: darkblue;
}

a{
    text-decoration: none;
    margin-right: 15px;
}
</style>

<body>

    <hr>

<a href="/">Home</a> |
<a href="/add-task/">Add Task</a> |
<a href="/view-tasks/">View Tasks</a> |
<a href="/about/">About</a>

<hr>

<h1>About Internship Task Tracker</h1>

<p>This project was created using Django and SQLite.</p>

<p>Features:</p>

<ul>
    <li>Add Tasks</li>
    <li>View Tasks</li>
    <li>Store Tasks in Database</li>
</ul>

<a href="/">Back Home</a>

</body>
</html>