<!DOCTYPE html>
<html>
<head>
    <title>View Tasks</title>
    <style>
body{
    font-family: Arial;
    margin: 40px;
}

h1{
    color: darkblue;
}

a{
    text-decoration: none;
    margin-right: 15px;
}
</style>

</head>

<body>

    <hr>

<a href="/">Home</a> |
<a href="/add-task/">Add Task</a> |
<a href="/view-tasks/">View Tasks</a> |
<a href="/about/">About</a>

<hr>

<h1>All Tasks</h1>

<p>Total Tasks: {{ tasks|length }}</p>

<ul>
{% for task in tasks %}
    <li>
        {{ task.task_name }} -
        {{ task.priority }} -
        {{ task.status }}
    </li>
{% endfor %}
</ul>

<a href="/">Back Home</a>

</body>
</html>